:root {
    --secondaryColor: #ab966f;
}

body {
    font-family: "Marcellus SC", serif;
}

/* ANIMATIONS */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(20%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-20%);
    }
}

#loreTitle,
#loreText,
#timeline {
    animation: fadeIn 0.8s ease forwards;
}

.slideIn {
    animation: slideIn 0.4s ease forwards !important;
}

.slideOut {
    animation: slideOut 0.4s ease forwards !important;
}

/* RANGE */
#timeline {
    height: 20px;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
}

#timeline:focus {
    outline: none;
}

/* Slider */
#timeline::-webkit-slider-runnable-track {
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    border: none;
}

#timeline::-moz-range-track {
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    border: none;
}

/* Thumb */
#timeline::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 35px;
    width: 35px;
    transition: height 0.2s ease, width 0.2s ease;
    border-radius: 50%;
    background: var(--secondaryColor);
    cursor: grab;
    margin-top: -8px;
}

#timeline::-moz-range-thumb {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: var(--secondaryColor);
    cursor: grab;
}

/* Active */
#timeline:active::-webkit-slider-thumb {
    cursor: grabbing;
    height: 40px;
    width: 40px;
    margin-top: -10px;
    transition: height 0.2s ease, width 0.2s ease;
}

#timeline:active::-moz-range-thumb {
    cursor: grabbing;
    height: 40px;
    width: 40px;
    margin-top: -10px;
    transition: height 0.2s ease, width 0.2s ease;
}
